* {
    box-sizing: border-box;
  }
  
  body{
    background: whitesmoke;
    margin: 0;
    font-family: sans-serif;
  }
  
  
  #profile nav{
    background: white;
    margin-bottom: 25px;
  }
  
  h5 {
    margin-top: 5px;
    text-align: right;
  }
  
  main{
    max-width: 700px;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
  }
  
  
  header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  
  header .col-left{
    margin-right: 25px;
  }
  
  header h1 {
    font-weight: 400;
  }
  
  header button{
    background: dodgerblue;
    border: none;
    padding: 10px 100px;
    color: #fff;
    font-size: 14px;
  }
  
  .user-img{
    border-radius: 50%;
    width: 100px;
    display: block;
    margin: 0 auto;
  }
  
  article{
    margin-bottom: 30px;
  }
  
  aside {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  aside strong{
    color: black;
  }
  
  .col-stats{
    width: 33.3333%;
    text-align: center;
    color: gray;
    font-weight: 200;
  }
  
  /* section .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  } */
  #profile{
    font-size: 1.4rem;
  }
  #profile img{
    width: 100%;
    display: block;
  }
  
  footer{
    padding: 5rem 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-top: 0;
    flex-wrap: wrap;
}

.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-nav ul li{
    margin-right: 1.6rem;
}

.footer-nav ul li a{
    color: #003569;
}

.copyright-notice{
    color: #999999;
}

@media (max-width: 900px){
  footer .container{
      padding: 0 2rem;
      justify-content: center;
  }

  .footer-nav ul{
      justify-content: center;
  }

  .footer-nav ul li{
      margin-bottom: 1rem;
  }
}

@media(max-width: 450px){
  footer{
      padding-bottom: 2rem;
  }
  main{
    width: 100% !important;
    max-width: 100% !important;
  }
}
  
  @media screen and (max-width: 400px){
    aside .col{
      width: 100%;
      padding: 10px;
    }

  }
