{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div id="wrapper" id="content">
    <div class="register">
        <div class="form-data form-data-prof">
            <form  action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png" alt="">
                </div>
                <h2 class="intro">Create a profile to start using Instagram</h2>
                {% bootstrap_form form%}
                <button class="form-btn" type="submit">Create Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}