{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="main">
    {% if images %}
    {% for image in images %}
    <div class="section">
        <div class="top-section">
            <div class="d-flex">
                <div class="profile-pic">
                    <a href="#">
                        <img class="picture" src="{{image.profile.profile_pic.url}}" alt="user">
                </div>
                <div class="profile">
                    <a href="#" class="profile_tag">{{image.profile}}</a>
                </div>
            </div>
        </div>
        <div class="upload">
            <img class="upload-content" src="{{image.image.url}}">
        </div>
        <div class="upload-actions">
            <form action="{% url 'like_image' image_id=image.id %}">
                {% csrf_token %}
                <button type="submit" name="image_id" value={{image.id}}
                    style="border: 0px; background-color: transparent; padding-top: 25%; padding-right: 80%;"><i
                        class="far fa-heart"></i></button>
            </form>
        </div>
        <div class="liked">
            <p class="liked-count">{{image.likes.count}} likes</p>
        </div>
        <div class="upload-caption">
            <span class="post">
                <a href="#" class="likes">{{image.profile}}</a>
                <span class="post-link">
                    {{image.caption}}
                </span>
            </span>
        </div>
        <div class="comments">
            <p class="text-muted" style="font-size: 1.4rem;">Comments...</p>
        </div>
        {% for comment in comments %}
        {% if comment.image.id == image.id %}
        <div class="upload-caption comments">
            <span class="comment-post">
                <a href="#" class="likes">{{comment.user}}</a>
                <span class="post-link">{{comment.content}}</span>
            </span>
        </div>
        {% endif %}
        {% endfor %}
        <div class="time-stamp liked">{{image.post_date | timesince }} ago</div>
        <div class="submit">
            <div id="comment">
                <form role="add_comment" , action="{% url 'comment' image_id=image.id %}">
                    {% csrf_token%}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add a comment" name="comment">
                        <div class="input-group-btn">
                            <button class="btn" type="submit"> Post</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="section">
        <div class="nothing text-center">
            <h2>Nothing to see</h2>
            <h2>Get started on Instagram by following an Instagram user or share an image to see images on the timeline.
            </h2>
        </div>
    </div>
    {% endif %}
    <!-- Aside section- Pc screen alone -->
    <div class="aside-section">
        <div class="aside3">
            <div class="aside3-t">
                <div class="aside2-top">
                    <div class="aside2-top1 tp3">
                        Suggestions
                    </div>
                </div>
                <div class="aside3-body">
                    <div class="st">
                        {% for prof in suggestions %}
    {% if prof == loggedIn%}
    {% else %}
                        <div class="suggestions">
                            <div class="sugg-pix">
                                <a href="/profile/{{prof.id}}"><img src="{{prof.profile_pic.url}}" alt="avatar"
                                    class="picture"></a>
                            </div>
                            <div class="profile-info">
                                <span class="profile-link s-link">
                                    <a href="/profile/{{prof.id}}">{{prof.user.username}}</a>
                                </span>
                            </div>
                        </div>
                        {% endif %}
    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<footer>
    <div class="container">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
          <li>
            <a href="#">Press</a>
          </li>
          <li>
            <a href="#">Api</a>
          </li>
          <li>
            <a href="#">Jobs</a>
          </li>
          <li>
            <a href="#">Privacy</a>
          </li>
          <li>
            <a href="#">Terms</a>
          </li>
          <li>
            <a href="#">Directory</a>
          </li>
          <li>
            <a href="#">Profiles</a>
          </li>
          <li>
            <a href="#">Hashtags</a>
          </li>
          <li>
            <a href="#">Languages</a>
          </li>
        </ul>
      </nav>
      <div class="copyright-notice">
        &copy; 2020 Instagram
      </div>
    </div>
</footer>
{% endblock %}