<div class="top">
    <div class="top-items">
        <div class="logo-area">
            <a href="#"><img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
                alt="logo" width="103"></div></a>
</div>
<div class="search-box sb">
    <input type="text" class="search" placeholder="search">
    <span class="ic"><img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png" alt="search"
            height="10px"></span>
</div>
<div class="acct-actions">
    <div class="actions">
        <a href="#" class="li">
            <img height="24px" src="https://static.thenounproject.com/png/17705-200.png" alt="explore">
        </a>
        <a href="#" class="li">
            <img height="24px" src="https://cdn.iconscout.com/icon/free/png-512/explore-1781524-1513844.png"
                alt="explore">
        </a>
        <a href="#" class="li">
            <img height="24px"
                src="https://www.pinclipart.com/picdir/big/33-337369_heart-shaped-clipart-instagram-heart-sign-icon-transparent.png"
                alt="love">
        </a>
        <a href="#" class="li">
            <img height="24px" src="https://pbs.twimg.com/profile_images/1017823687804882944/YMzUeY9d_400x400.jpg"
                alt="user" style="border-radius: 50%">
        </a>
        </div>
    </div>
</div>
</div>